<footer class="footer">
  <p>Copyright © {{ if eq now.Year 2018 }}2018{{ else }}2018-{{ now.Year }}{{ end }} {{ .Site.Title }}</p>
  <p>Thoughts of <a href="https://saichethan.github.io/" target="_blank">Saichethan Reddy</a> wrote with &hearts;</p>
</footer>

{{ partial "adsense-sticky.html" . }}

{{ if .Site.GoogleAnalytics }}
<amp-analytics type=googleanalytics>
  <script type=application/json>
    {
      "vars": { "account": {{ .Site.GoogleAnalytics }} },
      "triggers": { "trackPageview": { "on": "visible", "request": "pageview" } }
    }
  </script>
</amp-analytics>
{{ end }}
